# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
-  Create markdown cell with title of the notebook
-  Create a markdown cell for an introduction
-  Create a markdown cell to list data science languages
-  Create a markdown cell to list data science libraries

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>C++</li>

</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li> Tensorflow </li>
    <li> Pandas </li>
    <li> Numpy </li>
</ol>


| Data Science Tools|
| -------------| 
| Anaconda |
| Jupyter |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Manel Halima